body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background: linear-gradient(180deg,#e7e7dd 0%, #ffffff 100%);
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: #fff;
}

nav .logo {
    margin-left: auto; /* This pushes the logo to the right */
    margin-right: 70px; /* Adjust the right margin as needed */
}

nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a{
    line-height: 65px;
    color: #000000;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover{
    background: rgba(160, 64, 173, 0.4);
    border-radius: 6px;
}

nav img[src='logo_main.png'] {
    margin-right: 50px; /* Adjust the right margin as needed */
}

/* Style for the dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style for the dropdown button/link */
.dropbtn {
    color: #000000;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Style for the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Style for the dropdown links */
.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover for dropdown links */
.dropdown-content a:hover {
    background-color: rgba(160, 64, 173, 0.4);
    border-radius: 6px;
}

/* Show the dropdown content when hovering over the dropdown button/link */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Adjust the margin-right property for the logo */
nav img[src='logo_main.png'] {
    margin-right: 50px; /* Adjust the right margin as needed */
}


.container{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    align-items: center;
}



.container{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}


    /*background-size: cover;
    background-position: center;
    background-attachment: fixed;
    */



/*FOR THE LOGO*/
img { 
    float:left;
    position:absolute;
    top:0;
    left:20px; 
    margin-left:auto;
    max-width: 100%;
    max-height: 100%;
}
