/* Reset some default browser styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Apply a background color to the body */
body {
    background-color: white; /* You can change this color */
    font-family: 'Poppins', sans-serif; /* Use your preferred font stack */
}

/* Style the header */
header {
    background-color: #5072A7; /* Header background color */
    color: #fff; /* Header text color */
    text-align: center;
    padding: 20px;
    margin-bottom:30px;
}

/* Center-align text */
.center-text {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Style form elements */
form {
    margin-top: 40px; /* Adjust the top margin to add space between header and form */
    max-width: 500px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px;
    background-color: #F0F0F0;
    border: 1px solid #000; /* Black border */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Style form input fields and select elements */
form input[type="text"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; /* Increase the bottom margin to add space between form elements */
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Style the "Add" button */
input[type="submit"] {
    display: block; /* Makes the button a block-level element */
    margin: 0 auto; /* Center horizontally */
    padding: 10px 20px; /* Adjust padding to make it bigger */
    font-size: 16px; /* Adjust font size */
    background-color: #5072A7; /* Background color */
    color: #fff; /* Text color */
    border: none; /* Remove the border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
}

/* Hover effect */
input[type="submit"]:hover {
    background-color: #0056b3; /* Change background color on hover */
}
