body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: #fff;
}
/*
nav .logo{
    padding: 13px 50px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}*/

nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a{
    line-height: 65px;
    color: #000000;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover{
    background: rgba(161, 195, 235, 0.4);
    border-radius: 6px;
}

.container{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.slides{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: #000000;
    scroll-snap-align: start;

    /*background-size: cover;
    background-position: center;
    background-attachment: fixed;
    */
}


/*background: linear-gradient(180deg, rgba(52,21,54,1) 0%, rgba(74,21,90,1) 35%, rgba(21,98,105,1) 100%);
*/

.slide_home{
    background: url(home_background.jpg) right bottom no-repeat;
    background-size: cover, auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
    

.slide1{
    background: linear-gradient(180deg, rgba(21,98,105,1) 0%, rgba(255,255,255,1) 100%);
}

.slide2{
    background:#fff;
}
 
.slide3{
    background:#fff;
}

.slide4{
    background: #fff;
}

/*FOR THE LOGO*/
img { 
    float:left;
    position:absolute;
    top:0;
    left:20px; 
    margin-left:auto;
    max-width: 100%;
    max-height: 100%;
}

img:hover {
    background: rgba(161, 195, 235, 0.4); /* Background color on hover */
    border-radius: 6px; /* Border-radius on hover */
    /* Add any additional styles you want to apply when the image is hovered */
}

/*SERVICES/GRAPHS AVAILABLE*/

.course{
    width: 80%;
    margin:auto;
    text-align:center;
    padding-top:100px;
}

h3{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display:flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 45%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding:20px 10px;
    box-sizing: border-box;
    transition: 0.5s;
}

.course-col:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}


.campus-col img{
    width:25%;
    height:auto;
    border-radius: 10px;
}

/*CAMPUS IMAGE GRAPHS */
/*
.campus-container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    border: 2px solid black; Add a border around the campus section
    border-radius: 10px; Add border-radius to create rounded corners 
}

.campus{
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}


.campus-col{
    flex-basis: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
    position:relative;
    overflow:hidden;
}


.campus-col img{
    width:100%;
    height:auto;
    border-radius: 20px;
}


.layer{
    background:rgba(225,0,0,0.7);
    height: 100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    transition:2s;
}

.layer: hover{
    background: rgba(225,0,0,0.7);
}
*/
