@import "/nav_bar_style_sheet.css";
@import "/footer/footer_style_sheet.css";

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-position: center;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}



/* Cookie Popup Styles */
.cookie-popup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: white;
    color: black;
    text-align: center;
}

.accept-cookies {
    background-color: #662d91;
    color: #fff;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
}


h1 {
    font-size: 50px;
    color: black;
    margin-left: 500px;
    margin-top: -200px;
}



#section1 {
    background: url('background1.jpg') right bottom no-repeat;
    background-size: cover, auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    scroll-snap-align: start;
}

#section2 {

    background-color: white;
    color: black;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    scroll-snap-align: start;


}

.button-container {
    margin-top: 20px;

}


.button {
    display: inline-block;
    padding: 15px 30px;
    /* Increase padding for a larger button */
    background-color: #662d91;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3); 
}

.button:hover {
    background-color: #800080;
}


#section3 {

    background-color: white;
    color: black;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    scroll-snap-align: start;
    margin-top: -50px;

}

#section4 {

    background-color: white;
    color: black;
    margin-top: 0;
    height: 100vh;
    scroll-snap-align: start;
    margin-top: -50px;

}

#about_section {

    background-color: white;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;

}


#about_section2 {

    background-color: white;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.policy-dropdown-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 10px; 
}

.policy-dropdown-container select {
    height: 50px;
    width: 400px; 
    font-size: 16px;
}

.policy-content-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    text-align: justify;
}








