@import "/nav_bar_style_sheet.css";
@import "/footer/footer_style_sheet.css";
/* contactus.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

h1, h2, h3 {
    color: #1b1b1b;
}

.centered-paragraph {
    text-align: center;
    padding-bottom: 10px;
}

/* Form Styling */

form {
    max-width: 450px;
    margin: 0 auto;
    background-color: #fffcfc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label, input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    font-size: 12px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #662d91;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 12px;
    border: none;
}

input[type="submit"]:hover {
    background-color: #800080;
}

<<<<<<< HEAD
/* Contact Information Sections */

.contact-info,
.email-IDS,
.social-media-links,
.Location,
.open-hours,
.Privacy-policy {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align:center;
}

.contact-info h2,
.email-IDS h2,
.social-media-links h2,
.Location h2,
.open-hours h2,
.Privacy-policy h2 {
    margin-top: 0;
}

.contact-info p,
.email-IDS ul,
.social-media-links p,
.Location p,
.open-hours p,
.Privacy-policy select {
    margin-bottom: 10px;
}

.email-IDS ul {
    list-style: none;
    padding: 0;
}

.email-IDS li {
    margin-bottom: 5px;
}

.Privacy-policy select {
    height: 40px;
    width: 50%;
}

.spacer {
    height: 20px;
}

=======
>>>>>>> fed05b0bc721890b5d1e0db3e03313861ca85b00
/* FAQ Styling */

.faq {
    max-width: 600px;
    margin: 20px auto;
}

.question-answer {
    margin-bottom: 20px;
}

button.dropdown-toggle {
    display: block;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #0400ff;
}

button.dropdown-toggle:focus {
    outline: none;
}

div.dropdown-content {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
}

div.dropdown-content p {
    margin: 0;
}
