@import "/nav_bar_style_sheet.css";

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.slides{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: #000000;
    scroll-snap-align: start;
    background: rgb(2,0,36);
    /*background-size: cover;
    background-position: center;
    background-attachment: fixed;
    */
}
 
/*background: linear-gradient(180deg, rgba(52,21,54,1) 0%, rgba(74,21,90,1) 35%, rgba(21,98,105,1) 100%);
*/

.slide_home{
    background: url(home_background.jpg) right bottom no-repeat;
    background-size: cover, auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slide1{
    /*background: rgb(255,223,223);*/
    background: linear-gradient(90deg, rgba(255,223,223,1) 0%, rgba(240,255,251,1) 100%);
}

/*
.slide2{
    background:#fff;
}
 
.slide3{
    background:#fff;
}

.slide4{
    background: #fff;
}

*/

img:hover {
    background: rgba(161, 195, 235, 0.4); /* Background color on hover */
    border-radius: 10px; /* Border-radius on hover */
    /* Add any additional styles you want to apply when the image is hovered */
}

/*SERVICES/GRAPHS AVAILABLE*/

.course{
    width: 80%;
    margin:auto;
    text-align:center;
    padding-top:100px;
    justify-content: center;
    align-items: center;
}

h3{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display:flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 55%;
    background:#ceb9b9;
    border-radius: 10px;
    margin-left: 3%;
    margin-bottom: 15%;
    padding:50px 10px;
    box-sizing: border-box;
    transition: 0.5s;
}

.course-col:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}


.campus-col img{
    width:25%;
    height:auto;
    border-radius: 10px;
}

