@import "/nav_bar_style_sheet.css";

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 150vh;
    background-size: cover;
    background-position: center;
}

.container{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.slides{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: #000000;
    scroll-snap-align: start;
    background: rgb(2,0,36);
    /*background-size: cover;
    background-position: center;
    background-attachment: fixed;
    */
}

a {
    text-decoration: none; /* Remove underline */
    color: #0077cc; /* Set text color to blue */
    font-weight: bold; /* Make the text bold */
}
 
/*background: linear-gradient(180deg, rgba(52,21,54,1) 0%, rgba(74,21,90,1) 35%, rgba(21,98,105,1) 100%);
*/

.slide_home{
    background: url(home_background.jpg) right bottom no-repeat;
    background-size: cover, auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slide1{
    /*background: rgb(255,223,223);*/
    background: linear-gradient(90deg, rgba(241, 232, 255, 0.3) 0%, rgba(231, 253, 255, 0.1) 100%);
}


img:hover {
    background: rgba(44, 46, 49, 0.4); /* Background color on hover */
    border-radius: 10px; /* Border-radius on hover */
    /* Add any additional styles you want to apply when the image is hovered */
}

/*SERVICES/GRAPHS AVAILABLE*/

.course{
    width: 80%;
    margin:auto;
    text-align:center;
    padding-top:100px;
    justify-content: center;
    align-items: center;
}

h3{
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    color: #000000;
}

p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    font-style: italic;
}

.row{
    margin-top: 5%;
    display:flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 55%;
    /*background:#f8e3e3;*/
    background: rgb(207,210,240);
    background: linear-gradient(90deg, rgba(207, 210, 240, 0.491) 0%, rgba(70, 62, 73, 0.1) 100%);
    border-radius: 10px;
    margin-left: 3%;
    margin-bottom: 15%;
    padding:50px 10px;
    box-sizing: border-box;
    transition: 0.5s;
}

.course-col:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}


.campus-col img{
    width:25%;
    height:auto;
    border-radius: 10px;
}

